@import "tailwindcss";

:root {
  font-family: poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #e6ecff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#progress {
  background-color: #cce6ff;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  cursor: pointer;
}

#progress::-webkit-slider-thumb {
  background-color: #cce6ff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(26,26,255,0.5);
}

.controls div {
  width: 60px;
  height: 60px;
  margin: 20px;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #8dc8ff;
}

.controls div:nth-child(2) {
  transform: scale(1.5);
  background-color: #8dc8ff;
  color: #fff;
}